/* Main CSS File */

.btn { 
    margin-top: 12px;
}

img {
    border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
}

.card a {
    text-decoration: none;
    color: #000;
}

.card-header {
    background-color: transparent;
}

/* Light Mode Toogle Icon Styles */

[data-bs-theme="light"] .form-switch .bi-moon-stars-fill {
  display: none;
}

[data-bs-theme="light"] .form-switch .bi-sun-fill {
  display: inline;
}

/* Dark Mode Toggle Icon Styles */

[data-bs-theme="dark"] .form-switch .bi-sun-fill {
  display: none;
}

[data-bs-theme="dark"] .form-switch .bi-moon-stars-fill {
  display: inline;
}


/* GitHub Heatmaps Syles */

.calendar a { display: none !important; }

/* Container for the heatmap */
.calendar {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto; /* Adds a scrollbar on mobile instead of breaking layout */
    overflow-y: hidden;
    padding: 10px;
    justify-content: center;
    font-family: inherit !important;
}

/* Ensure the SVG scales with the container */
.calendar svg.js-calendar-graph-svg {
    width: 100% !important;
    height: auto !important;
    max-width: 800px; /* Adjust based on your preferred desktop size */
}

.calendar table {
    border-collapse: initial;
    direction: rtl !important;
    caption-side: top !important;
}

html[data-bs-theme="dark"] {

    .ContributionCalendar-grid thead, .ContributionCalendar-grid thead td, .ContributionCalendar-label {
        background-color: #212529 !important;
    }

    .list-group-item, .list-group-item:hover, .list-group-item:focus {
        background-color: #3a3e42 !important;
        color: var(--bs-body-color) !important;
    }

}

/* Optional: Make the text smaller on mobile for better fit */
@media (max-width: 600px) {
    .calendar {
        font-size: 10px;
    }
}

/* Homepage Grid Styles */

    .image-grid {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 15px;
        padding: 0 20px 20px 20px;
        max-width: 100%;
        margin: auto;
    }

    .image-grid img {
        width: 100%;
        height: 150px;
        object-fit: contain;
        border-radius: 0px;
        transition: transform 0.3s ease;
    }

    .image-grid img:hover {
        transform: scale(1.05);
    }

    /* Tablet */
    @media (max-width: 992px) {
        .image-grid {
            grid-template-columns: repeat(2, 2fr);
        }
    }

    /* Mobile */
    @media (max-width: 576px) {
        .image-grid {
            grid-template-columns: repeat(2, 2fr);
        }
    }