/* Main CSS File */

.btn { 
    margin-top: 12px;
}

img {
    border-radius: 5px 5px 5px 5px/25px 25px 25px 5px;
}

.card a {
    text-decoration: none;
    color: #000;
}

.card-header {
    background-color: transparent;
}

/* GitHub Heatmaps Syles */

.calendar a { display: none !important; }

/* Container for the heatmap */
.calendar {
    width: 100%;
    margin: 0 auto;
    overflow-x: auto; /* Adds a scrollbar on mobile instead of breaking layout */
    overflow-y: hidden;
    padding: 10px;
    justify-content: center;
    font-family: inherit !important;
}

/* Ensure the SVG scales with the container */
.calendar svg.js-calendar-graph-svg {
    width: 100% !important;
    height: auto !important;
    max-width: 800px; /* Adjust based on your preferred desktop size */
}

.calendar table {
    border-collapse: initial;
    direction: rtl !important;
}


/* Dark mode styles */
@media (prefers-color-scheme: dark) {

    .ContributionCalendar-grid {
        background-color: transparent !important;
    }

    .list-group-item {
        background-color: #fff !important;
    }

}

/* Optional: Make the text smaller on mobile for better fit */
@media (max-width: 600px) {
    .calendar {
        font-size: 10px;
    }
}