<footer class="container">
    This is the footer ;)
</footer>

<script>
{% include /assets/js/bootstrap.bundle.min.js %}
</script>

<!-- START Formbricks Surveys -->
  <script type="text/javascript">
  !function(){
      var appUrl = "https://app.formbricks.com";
      var environmentId = "cmlvsyd9km9wcu4011cb75i2c";
      var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=appUrl+"/js/formbricks.umd.cjs",t.onload=function(){window.formbricks?window.formbricks.setup({environmentId:environmentId,appUrl:appUrl}):console.error("Formbricks library failed to load properly. The formbricks object is not available.");};var e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(t,e)}();
  </script>
  <!-- END Formbricks Surveys -->
  

<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script> -->
</body>
</html>