<body>

<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="light">
  <div class="container-fluid text-center p-0">
    <div class="row">
      <div class="container-fluid col-lg-6 col-md-10 col-sm-12">
        <div class="p-4">
          <p class="text-body-emphasis h4">Let's Chat!</p>
          <span class="text-body-secondary">Contact me using the form below</span>
          <div class="container">{% include contact-form.html %}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<header>
    <div class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <!-- <img src="/assets/img/me.jpg" alt="mdo" width="32" height="32" class="rounded-circle"> -->
                    <span style="margin-left:14px;">Meagan Truglio</span>
                </a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a href="/" class="nav-link text-white">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/about/" class="nav-link text-white">
                            About
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>