<div class="collapse" id="navbarToggleExternalContent" data-bs-theme="light">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="container col-lg-6 col-md-10 col-sm-12">
        <div class="p-2">
          <p class="text-body-emphasis h4 text-center">Let's Chat!</p>
          <p class="text-body-secondary text-center">Contact me using the form below</p>
          <div class="container p-0">{% include contact-form.html %}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<header>
    <nav class="px-3 py-2 text-bg-dark border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img src="https://mltydesigns.com/assets/img/Meagan_Truglio.jpeg" alt="mdo" width="32" height="32" class="rounded-circle">
                    <span style="margin-left:14px;">Meagan Truglio</span>
                </a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0">
                    <li>
                        <a href="/" class="nav-link text-white">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link text-white" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>