---
layout: base
title: "Blog"
description: "A collection of articles and insights on various topics."
schema: webpage
sitemap: false
---
<h1 class="heading">{{ page.title }}</h1>
<div class="container">
    <div class="row">
    <div class="col-lg-8 col-md-12 p-2">
        <div class="list-group">
            {% for post in paginator.posts %}
            <article>
            <a href="{{ post.url }}" class="list-group-item list-group-item-action flex-column align-items-start {% cycle 'active', '' %}">
                <div class="w-100">
                    <h5 class="mb-1">{{ post.title }}</h5>
                    <p><small>{{ post.date | date: "%B %d, %Y" }}</small></p>
                </div>
                <hr/>
                <p class="mb-1">{{ post.excerpt | markdownify | strip_html | truncate: 360 }}</p>
                <button class="btn btn-small {% cycle 'btn-light', 'btn-primary' %}">Continue Reading ></button>
            </a>
            </article>
            {% endfor %}
        </div>
    </div>
        <div class="col-lg-4 col-md-12 p-2 mb-4">
            <h2 class="heading">Categories</h2>
            <ul class="list-group">
                {% assign categories = site.categories | sort %}
                {% for category in categories %}
                {% assign category_name = category | first %}
                {% assign posts_in_category = category | last %}
                <li class="list-group-item d-flex justify-content-between align-items-center text-capitalize">
                    <a href="/categories/{{ category_name | slugify }}">{{ category_name }}</a>
                    <span class="badge bg-primary rounded-pill">{{ posts_in_category | size }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if paginator.total_pages > 1 %}
    <nav aria-label="Page navigation mt-4">
    <ul class="pagination justify-content-left">
        
        <!-- Previous Page Link -->
        {% if paginator.previous_page %}
        <li class="page-item">
        <a class="page-link" href="{{ paginator.previous_page_path | relative_url }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
        </a>
        </li>
        {% else %}
        <li class="page-item disabled">
        <span class="page-link">&laquo;</span>
        </li>
        {% endif %}

        <!-- Page Numbers -->
        {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
        <li class="page-item active" aria-current="page">
            <span class="page-link">{{ page }}</span>
        </li>
        {% elsif page == 1 %}
        <li class="page-item">
            <a class="page-link" href="{{ '/blog/' | relative_url }}">{{ page }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="{{ site.paginate_path | replace: ':num', page | relative_url }}">{{ page }}</a>
        </li>
        {% endif %}
        {% endfor %}

        <!-- Next Page Link -->
        {% if paginator.next_page %}
        <li class="page-item">
        <a class="page-link" href="{{ paginator.next_page_path | relative_url }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
        </a>
        </li>
        {% else %}
        <li class="page-item disabled">
        <span class="page-link">&raquo;</span>
        </li>
        {% endif %}

    </ul>
    </nav>
    {% endif %}
</div>