---
layout: base
---

<div class="container">
  <div class="row align-items-start">
    <div class="container">
        <h1>{{ page.title }}</h1>
        {{ content }}
    </div>
    <div class="container">
        <h2>Blog Posts</h2>
            <div class="row">
            {% for post in site.posts %}
                <article class="card border-success mb-3 m-2 col-lg-4 col-md-6 col-sm-12">
                <a href="{{ post.url | relative_url }}">
                <div class="card-header"><h3>{{ post.title }}</h3></div>
                <div class="card-body">
                    <h4 class="card-title">{{ post.subtitle }}</h4>
                    <small>{{ post.date | date: "%B %d, %Y" }}</small>
                    <p class="card-text">{{ post.excerpt | markdownify | strip_html | truncate: 360 }}</p>
                    <small><a href="{{ post.url | relative_url }}">Continue Reading ></a></small>
                </div>
                </a>
                </article>
            {% endfor %}
            </div>
    </div>
  </div>
</div>