---
layout: base
--- 
<h1>{{ page.title }}</h1>
<div class="before-content">
    <table class="table table-primary">
      {% if page.pepper %}
      <tr><td>Scoville</td><td>{{ page.scoville }}</td></tr>
      {% endif %}
      <tr><td>Days To Germination</td><td>{{ page.germination_days }}</td></tr>
      <tr><td>Ideal Germination Soil Temp</td><td>{{ page.soil_temp }}</td></tr>
      <tr><td>Ideal Germination Humidity</td><td>{{ page.humidity }}</td></tr>
      <tr><td>Hours Light/Sun Exposure</td><td>{{ page.light }}</td></tr>
    </table>
  </div>

<div class="blog-post">
  {{ content }}
</div>