---
layout: base
---
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <!-- <th scope="col">Family</th>
                <th scope="col">Genus</th>
                <th scope="col">Species</th> -->
                <th scope="col">Capsaicin Heat</th>
                <th scope="col">Germination</th>
                <th scope="col">Soil Temp</th>
                <th scope="col">Humidity</th>
                <th scope="col">Light</th>
            </tr>
            {% for plant in site.plants %}

                <td><a href="{{ plant.url }}">{{ plant.title }}</a></td>
                <!-- <td>{{ plant.family }}</td>
                <td>{{ plant.genus }}</td>
                <td>{{ plant.species }}</td> -->
                <td>{% if plant.pepper } {{ plant.scoville }} shu {% endif }</td>
                <td>{{ plant.germination_days }} days</td>
                <td>{{ plant.soil_temp }}</td>
                <td>{{ plant.humidity }}</td>
                <td>{{ plant.light }}</td>
            </tr>
            {% endfor %}
        </thead>
    </table>