---
layout: base
---
<h1 class="heading">{{ page.title }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <!-- <th scope="col">Family</th>
                <th scope="col">Genus</th>
                <th scope="col">Species</th> -->
                <th scope="col">Heat SHU</th>
                <th scope="col">Germination</th>
                <th scope="col">Soil Temp</th>
                <th scope="col">Humidity</th>
                <th scope="col">Light</th>
                <!-- <th scope="col">Tags</th> -->
            </tr>
            {% for plant in site.plants %}

                <td><a href="{{ plant.url }}">{{ plant.title }}</a></td>
                <!-- <td>{{ plant.family }}</td>
                <td>{{ plant.genus }}</td>
                <td>{{ plant.species }}</td> -->
                <td>{{ plant.scoville }}</td>
                <td>{{ plant.germination_days }} days</td>
                <td>{{ plant.soil_temp }}</td>
                <td>{{ plant.humidity }}</td>
                <td>{{ plant.light }}</td>
                <!-- <td>{{ plant.nfc_tags }}</td> -->
            </tr>
            {% endfor %}
        </thead>
    </table>

<div class="form-check form-switch ms-auto">
  <input class="form-check-input" type="checkbox" id="darkModeToggle">
  <label class="form-check-label" for="darkModeToggle">Dark Mode</label>
</div>