---
layout: base
title: Blog Archive
---

{{ content }}
<div class="container">
    <div class="row">
    <div class="col-lg-8 col-md-12 p-2">
        <h2 class="heading">Recent Posts</h2>
        <div class="list-group">
            {% for post in site.posts %}
            <article>
            <a href="{{ post.url | relative_url }}" class="list-group-item list-group-item-action flex-column align-items-start {% cycle 'active', '' %}">
                <div class="w-100">
                    <h5 class="mb-1">{{ post.title }}</h5>
                    <p><small>{{ post.date | date: "%B %d, %Y" }}</small></p>
                </div>
                <hr/>
                <p class="mb-1">{{ post.excerpt | markdownify | strip_html | truncate: 360 }}</p>
                <button class="btn btn-small {% cycle 'btn-light', 'btn-primary' %}">Continue Reading ></button>
            </a>
            </article>
            {% endfor %}
        </div>
    </div>
        <div class="col-lg-4 col-md-12 p-2 mb-4">
            <h2 class="heading">Categories</h2>

            <ul class="list-group">
            {% assign categories = site.categories | sort %}
            {% for category in categories %}
                {% assign category_name = category | first %}
                {% assign posts_in_category = category | last %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="/categories/{{ category_name | slugify }}">
                    {{ category_name }} 
                    <span class="badge bg-primary rounded-pill">({{ posts_in_category | last | size }})</span>
                </a>
                </li>
            {% endfor %}
            </ul>







            <ul class="list-group">
                {% for category in site.categories %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                 <a href="/categories/{{ category | first | slugify }}/">{{ category.name | last }}</a>
                <span class="badge bg-primary rounded-pill">{{ category | last | size }}</span>
                </li>
                {% endfor %}
            </ul>
    </div>
    </div>
</div>